<!DOCTYPE html>
<html>
  <head>
    <title>My Assignment 9 App Engine App</title>
  </head>
  <body>
  	<h2 style="text-align:center;">Welcome!</h2>
  	
    
    
      <div style="text-align:center;">
        <p>Click on the submit link below to be redirected to the 
        Google sign-in page. This app will use OAuth 2.0 to authorize and authenticate you.  
        Your JWT and User ID will then be displayed to you on the User Info page.</p>
      </div>
      
      <div style="text-align:center;">
        <a href="/submit">Submit</a>
      </div>
    
  </body>
</html>